a       {color: green; text-decoration: none;}
a:hover {              text-decoration: underline;}

.lightgray {color: lightgrey;}
.black     {color: black;}
.white     {color: white;}

body {
      background-color: silver;
}

img.fitOwl {
    width: 100%;
    max-height: 90vh; /* 90% */
    border: 9px solid transparent; /* Width, style, and color */
    object-fit: contain;
  vertical-align: top;
    
}

/* font {color: #C96333;} */

/* adding during Menu implementation */

table { margin-left: auto; margin-right: auto; }
a:link, a:visited, a:hover, a:active { color: blue; text-decoration: none; }
h5 { text-align: center; }
.red { color: red; }
summary {
  font-size: 110%;
  font-weight: bold;
}
table, th, td { border-collapse: collapse; border: 0px solid black; white-space: nowrap; }
